.button-shadow {
	box-shadow:
		0 4px 4px 0 rgba(255, 255, 255, 0.25) inset,
		0 -4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.skeleton {
	animation: skeleton 1.5s ease-in-out infinite alternate;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.15) 25%,
		rgba(0, 0, 0, 0.25) 50%,
		rgba(0, 0, 0, 0.15) 75%
	);
	background-size: 100% 400px;
}

@keyframes skeleton {
	from {
		background-position: 50% 0%;
	}
	to {
		background-position: 50% 100%;
	}
}
