@import 'tailwindcss';

@theme {
	--color-dark: #0e0844;
	--color-dark-alt: #411da9;
	--color-light: #fefafe;
	--color-light-alt: #d5d5de;
	--color-brand: #6e3cfe;
	--color-brand-alt: #976fff;
}

body {
	@apply text-dark;
}

.skeleton {
	animation: skeleton 1.5s ease-in-out infinite alternate;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.15) 25%,
		rgba(0, 0, 0, 0.25) 50%,
		rgba(0, 0, 0, 0.15) 75%
	);
	background-size: 100% 400px;
}

@keyframes skeleton {
	from {
		background-position: 50% 0%;
	}
	to {
		background-position: 50% 100%;
	}
}
